$roboto-font-path: "../public/fonts";

@font-face {
  src: url("../public/fonts/Montserrat-VariableFont_wght.ttf");
  font-family: "Montserrat";
}

@mixin default-fonts {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
}