header {
  width: 100%;
  height: 116px;
  background: $base-grey;
  position: sticky;
  top: 0;
  z-index: 1000;

  .header_container {
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20%;
    align-items: center;
    .header_logo {
      @include default-fonts;

      cursor: pointer;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #1C2A39;
      text-transform: capitalize;
    }
    .header_navigation {
      width: 100%;
      @include default-fonts;

      .header_navigation_list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 5%;
        
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 12px;
        color: #5C6A79;
        .header_navigation_button {
          cursor: pointer;
          &.active {
            font-style: normal;
            font-weight: 900;
            font-size: 10px;
            line-height: 12px;
            color: #1C2A39;
          }
        }
      }
    }

    .header_tools {
      width: 300px;
      display: flex;
      justify-content: flex-end;
      gap: 10%;
      .header_tools_icon {
        cursor: pointer;
        display: inline-block;
        width: 20px;
        height: 20px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        color: $base-black;
        &.user {
          background-image: url('../public/images/user.svg');
        }
        &.search {
          background-image: url('../public/images/search.svg');
        }

        &.bag {
          background-image: url('../public/images/shop_bag.svg');
        }
      }
      .bag__cover{
        position: relative;

        .bag__count{
          @include default-fonts;
          font-size: 10px;
          font-weight: 500;
          line-height: 12px;
          z-index: 2;
          top: 10px;
          left: 10px;
          padding: 0 4px;
          min-width: 6px;
          height: 16px;
          text-align: center;
          color: #fff;
          border-radius: 18px;
          border: 2px solid #fff;
      
          background-color: red;
          position: absolute;
      
          
        }
      }
    }
  }

  @media (max-width: 921px) {
    .header_container {
      width: 95%;
      gap: 10%;
      .header_navigation{
        display: none;
      }
    }
  }

  @media (min-width: 922px) {
    .header_container {
      width: 70%;
    }
  }
}