@mixin lazyButton {
  .lazy_button_section {
    width: 100%;
    display: flex;
    align-items: center;
    .lazy_button {
      @include buttons;
      width: 176px;
      margin: auto;
      margin-top: 40px;
      margin-bottom   : 40px;
    }
  }
}