@mixin buttons {
  border: 1px solid;
  border-radius: 0%;
  border-color: #4C3DB2;
  height: 45px;
  color: #4C3DB2;
  background-color: transparent;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 10px;
  cursor: pointer;
}
@mixin goods {
  .main_books {
    position: relative;
    margin-top: 100px;
    display: grid;
    grid-template-areas:
        "sidebar books";
    .main_books__menu {
      grid-area: sidebar;
      position: absolute;
      top: 0;
      left: 0;
      width: 416px;
      height: 710px;
      background-color: #EFEEF6;
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include default-fonts;

      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      text-transform: capitalize;

      color: #5C6A79;

      .books__menu__list {
        z-index: 200;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .category {
          cursor: pointer;
        }
        .active {
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          text-transform: capitalize;
          
          color: #1C2A39;

          &::before {
            content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
            color: #756AD3; /* Change the color */
            font-weight: bold; /* If you want it to be bold */
            display: inline-block; /* Needed to add space between the bullet and the text */
            width: 1em; /* Also needed for space (tweak if needed) */
            font-size: 25px;
            margin-left: -1em; /* Also needed for space (tweak if needed) */
          }
        }
      }
    }
    .main_books__goods {
      z-index: 1;
      padding-left: 5%;
      margin: auto;
      display: grid;
      padding-top: 25px;
      grid-template-columns: 1fr 1fr;
      gap: 60px;
      .book_card {
        display: flex;
        gap:25px;

        .card__info__button {
          @include buttons;
          margin-top: 10px;
        }
        .card__incart__button {
          @include buttons;
          margin-top: 10px;
          border-color:#EEEDF5;
          color: #5C6A79;
        }

        .book_card__picture {
          width: 212px;
          height: 313px;
          object-fit: cover;
          box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
          
        }
        .book_card__info {
          display: flex;
          flex-direction: column;
          justify-content: start;
          gap: 5px;
          margin-top: 10px;
          .card__info__authors {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 14px;
            text-transform: capitalize;
            color: #5C6A79;
          }
          .card__info__description {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* number of lines to show */
                    line-clamp: 3; 
            -webkit-box-orient: vertical;

            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 14px;
            text-transform: capitalize;
            color: #5C6A79;
          }
          .card__info__title {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #1C2A39;
          }
          .card__info__price {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 16px;
            text-transform: uppercase;
            color: #1C2A39;
            margin-top: 10px;

          }
          .card__info__rating {
            display: flex;
            gap: 10px;
            align-items: center;

            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 14px;
            text-transform: capitalize;
            color: #5C6A79;

            .card__info__stars {
              --percent: calc(var(--rating) * 100% / 5 );
              display: inline-block;
              font-size: 30px;
              line-height: 1;
    
              &::before {
                content: "★★★★★";
                letter-spacing: 3px;
                background: linear-gradient(
                  90deg,
                  $star-color var(--percent),
                  $star-background var(--percent)
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
          }

        }
      }
      @media (max-width: 1300px) {
          padding-left: 300px;
          width: 95%;
          grid-template-columns: 1fr;
      }
      @media (min-width: 922px) {
          width: 70%;
      }
    }
  }
}
