
@mixin promo{
  cursor: pointer;
  position: absolute;


  padding: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: end;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px; 
  line-height: 22px;
  text-transform: uppercase;
  color: rgb(4, 4, 4);
  
  box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
}

@mixin slider {

  
  .promo__button {
    width: 57px;
    height: 14px;
    background: none;
    background-color: none;
    border: medium none;
    background-image: url('../public/images/arrow.svg');
  }
  
  .main_slider {
    position: relative;
    width: 100%;

    .main_slider__promo {
      @include promo;

      &.promo__2 {
        width: 137px;
        height: 273px;

        top: 50%;
        right: 0%;
        background-color: #FF8FE6;
      }
    }
    .main_slider__container {
      position: relative;
      margin: auto;
      height: 100%;
      .slider__picture {
        width: 100%;
        display: none;
    
        &.active {
          display: block;
        }
      }

      .main_slider__dots {
        display: flex;
        justify-content: center;
        gap: 5px;

        .slider__dot {
          margin-top: 5px;
          height: 12px;
          width: 12px;
          background-color: #EFEEF6;
          border-radius: 50%;
          display: inline-block;
          cursor: pointer;

          &.active {
            background-color: #9E98DC;
          }
        }
      }
      .main_slider__promo {
        @include promo;
        width: 149px;
        height: 204px;
        &.promo__1 {
          top: 10%;
          right: -8%;
          background-color: #9E98DC;
        }
        &.promo__2 {
          top: 50%;
          right: 0%;
          background-color: #FF8FE6;
        }
      }
    }
  }
  
  @media (max-width: 921px) {
    .main_slider__container {
      width: 95%;
      .main_slider__promo {
        .promo__1  {
          display: none;
          right: 0%;
        }
      }
    }
    .promo__2 {
      display: none;
    }
  }
  
  @media (min-width: 922px) {
    .main_slider__container {
      width: 70%;
    }
  }
}